dn: ${OPENLDAP_BOOTSTRAP_DATA_READONLY_DN}
objectClass: top
objectClass: organizationalRole
objectClass: simpleSecurityObject
cn: ${OPENLDAP_BOOTSTRAP_DATA_READONLY_CN}
userPassword: ${OPENLDAP_BOOTSTRAP_DATA_READONLY_PASSWORD_HASHED}
