olcTLSCertificateFile: ${OPENLDAP_BOOTSTRAP_TLS_CERT}
olcTLSCertificateKeyFile: ${OPENLDAP_BOOTSTRAP_TLS_CERT_KEY}
olcTLSCACertificateFile: ${OPENLDAP_BOOTSTRAP_TLS_CA_CERT}
olcTLSVerifyClient: ${OPENLDAP_BOOTSTRAP_TLS_VERIFY_CLIENT}
olcTLSProtocolMin: ${OPENLDAP_BOOTSTRAP_TLS_PROTOCOL_MIN}
