dn: ${OPENLDAP_BOOTSTRAP_REPLICATION_CONFIG_READONLY_DN}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: ${OPENLDAP_BOOTSTRAP_REPLICATION_CONFIG_READONLY_CN}
userPassword: ${OPENLDAP_BOOTSTRAP_REPLICATION_CONFIG_READONLY_PASSWORD_HASHED}

dn: ${OPENLDAP_BOOTSTRAP_REPLICATION_DATABASE_READONLY_DN}
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: ${OPENLDAP_BOOTSTRAP_REPLICATION_DATABASE_READONLY_CN}
userPassword: ${OPENLDAP_BOOTSTRAP_REPLICATION_DATABASE_READONLY_PASSWORD_HASHED}
