dn: olcOverlay=syncprov,olcDatabase={0}config,cn=config
objectClass: olcOverlayConfig
objectClass: olcSyncProvConfig
olcOverlay: syncprov
olcSpCheckpoint: ${OPENLDAP_BOOTSTRAP_REPLICATION_SYNCPROV_CHECKPOINT}
