dn: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_POLICY_DN}
objectClass: top
objectClass: device
objectClass: pwdPolicy
objectClass: pwdPolicyChecker
cn: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_POLICY_CN}
pwdAttribute: userPassword
pwdMinLength: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_MIN_LENGTH}
pwdCheckQuality: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_CHECK_QUALITY}
pwdInHistory: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_IN_HISTORY}
pwdAllowUserChange: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_ALLOW_USER_CHANGE}
pwdSafeModify: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_SAFE_MODIFY}
pwdMustChange: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_MUST_CHANGE}
pwdMinAge: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_MIN_AGE}
pwdMaxFailure: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_MAX_FAILURE}
pwdFailureCountInterval: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_FAILURE_COUNT_INTERVAL}
pwdLockout: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_LOCKOUT}
pwdLockoutDuration: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_LOCKOUT_DURATION}
pwdMaxAge: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_MAX_AGE}
pwdExpireWarning: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_EXPIRE_WARNING}
pwdGraceAuthNLimit: ${OPENLDAP_BOOTSTRAP_PPOLICY_DEFAULT_GRACE_AUTH_NLIMIT}
